.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 25rem;
  padding-bottom: 12.5rem;
}

.login__access {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
}

.login__access label {
  color: white;
}

.login__access-button {
  background: #0505a8;
  border-radius: 0.125rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  min-height: 2rem;
  min-width: 7.5rem;
  outline: none;
  text-align: center;
}

.login__access input {
  background: #202020;
  border-radius: 0.125rem;
  border: 0.0625rem solid hsla(0, 0%, 100%, 0.6);
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.875rem;
  height: 2rem;
  line-height: 1.25rem;
  margin: 0.3125rem 0 1.688rem 0;
  outline: none;
  padding-left: 0.5rem;
  width: 100%;
}
