.header {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.875rem 1.875rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.header__logout-button {
  background: #0505a8;
  border-radius: 0.125rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  min-height: 2rem;
  min-width: 7.5rem;
  outline: none;
  text-align: center;
  
}
@media all and (max-width: 768px) {

  .header{
    justify-content: center;
    
  }
}