.row {
  display: flex;
  justify-content: space-between;
  margin-bottom:  0.625rem;
  width: 100%;
}

.row label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row__name {
  color: #fff;
  font-size: 1rem;
  padding-left: 2.5rem;
}

input[type="checkbox"] {
  transform: scale(2);
}

.row__items {
  color: #fff;
  font-size: 1rem;
  padding-left:  1.875rem;
}

.row__items-delete-button {
  background: #202020;
  border-radius: 0.125rem;
  border: red solid 0.0625rem;
  color: red;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  min-height: 2rem;
  min-width: 7.5rem;
  outline: none;
  text-align: center;
}

@media all and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row label {
    justify-content: space-between;
    margin-top: 1.25rem;
  }

  .row__items-delete-button {
    margin-top: 1.25rem;
  }
}
